<?xml version='1.0' encoding='utf-8'?>
<robot name="standalone_nero_capture_mmhand">
  <material name="arm">
    <color rgba="0.16 0.31 0.52 1" />
  </material>
  <material name="hand">
    <color rgba="0.92 0.52 0.16 1" />
  </material>
  <material name="tip">
    <color rgba="0.96 0.82 0.26 1" />
  </material>
  <link name="world" />
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="2" />
      <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0.065" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.09" length="0.13" />
      </geometry>
      <material name="arm" />
    </visual>
    <collision>
      <origin xyz="0 0 0.065" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.09" length="0.13" />
      </geometry>
    </collision>
  </link>
  <link name="link1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.7" />
      <inertia ixx="0.002" iyy="0.002" izz="0.002" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0.01" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.06" length="0.1" />
      </geometry>
      <material name="arm" />
    </visual>
    <collision>
      <origin xyz="0 0 0.01" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.06" length="0.1" />
      </geometry>
    </collision>
  </link>
  <link name="link2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.7" />
      <inertia ixx="0.002" iyy="0.002" izz="0.002" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0 -0.155 0" rpy="0 1.57079633 -1.57079633" />
      <geometry>
        <cylinder radius="0.045" length="0.31" />
      </geometry>
      <material name="arm" />
    </visual>
    <collision>
      <origin xyz="0 -0.155 0" rpy="0 1.57079633 -1.57079633" />
      <geometry>
        <cylinder radius="0.045" length="0.31" />
      </geometry>
    </collision>
  </link>
  <link name="link3">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.7" />
      <inertia ixx="0.002" iyy="0.002" izz="0.002" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.052" />
      </geometry>
      <material name="arm" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.052" />
      </geometry>
    </collision>
  </link>
  <link name="link4">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.7" />
      <inertia ixx="0.002" iyy="0.002" izz="0.002" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0 -0.135005 0" rpy="0 1.57079633 -1.57079633" />
      <geometry>
        <cylinder radius="0.042" length="0.27001" />
      </geometry>
      <material name="arm" />
    </visual>
    <collision>
      <origin xyz="0 -0.135005 0" rpy="0 1.57079633 -1.57079633" />
      <geometry>
        <cylinder radius="0.042" length="0.27001" />
      </geometry>
    </collision>
  </link>
  <link name="link5">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.7" />
      <inertia ixx="0.002" iyy="0.002" izz="0.002" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.047" />
      </geometry>
      <material name="arm" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.047" />
      </geometry>
    </collision>
  </link>
  <link name="link6">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.7" />
      <inertia ixx="0.002" iyy="0.002" izz="0.002" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0 -0.012 0" rpy="0 1.57079633 -1.57079633" />
      <geometry>
        <cylinder radius="0.032" length="0.06" />
      </geometry>
      <material name="arm" />
    </visual>
    <collision>
      <origin xyz="0 -0.012 0" rpy="0 1.57079633 -1.57079633" />
      <geometry>
        <cylinder radius="0.032" length="0.06" />
      </geometry>
    </collision>
  </link>
  <link name="link7">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.7" />
      <inertia ixx="0.002" iyy="0.002" izz="0.002" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.07 0.07 0.07" />
      </geometry>
      <material name="arm" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.07 0.07 0.07" />
      </geometry>
    </collision>
  </link>
  <link name="gripper_flange">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.7" />
      <inertia ixx="0.002" iyy="0.002" izz="0.002" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.042" length="0.025" />
      </geometry>
      <material name="arm" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.042" length="0.025" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.033" length="0.045" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.033" length="0.045" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__palm_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.12" />
      <inertia ixx="0.0002" iyy="0.0002" izz="0.0002" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="-0.03 0.035 0" rpy="0 0 0" />
      <geometry>
        <box size="0.082 0.108 0.026" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="-0.03 0.035 0" rpy="0 0 0" />
      <geometry>
        <box size="0.082 0.108 0.026" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__palm_1_finger_base_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <link name="capture_hand__palm_1_abduction_adduction_link_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.0058275 0.002555 -0.0057" rpy="0 2.3012882 0.413197843" />
      <geometry>
        <cylinder radius="0.009" length="0.0170854068" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.0058275 0.002555 -0.0057" rpy="0 2.3012882 0.413197843" />
      <geometry>
        <cylinder radius="0.009" length="0.0170854068" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__palm_1_finger_base_2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <link name="capture_hand__palm_1_finger_base_3">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <link name="capture_hand__palm_1_finger_base_4">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <link name="capture_hand__palm_1_abduction_adduction_link_2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.005415 0.0033415 -0.0057" rpy="0 2.3012878 0.55288533" />
      <geometry>
        <cylinder radius="0.009" length="0.0170854145" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.005415 0.0033415 -0.0057" rpy="0 2.3012878 0.55288533" />
      <geometry>
        <cylinder radius="0.009" length="0.0170854145" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__palm_1_abduction_adduction_link_3">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.0051035 0.0038005 -0.0057" rpy="0 2.30127758 0.640090835" />
      <geometry>
        <cylinder radius="0.009" length="0.0170856094" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.0051035 0.0038005 -0.0057" rpy="0 2.30127758 0.640090835" />
      <geometry>
        <cylinder radius="0.009" length="0.0170856094" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__palm_1_abduction_adduction_link_4">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.0051035 0.0038005 -0.0057" rpy="0 2.30127758 0.640090835" />
      <geometry>
        <cylinder radius="0.009" length="0.0170856094" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.0051035 0.0038005 -0.0057" rpy="0 2.30127758 0.640090835" />
      <geometry>
        <cylinder radius="0.009" length="0.0170856094" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__mmhand_thumb_1_thumb_base_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.000453 -0.006001 -0.022726" rpy="0 2.8827244 -1.4954518" />
      <geometry>
        <cylinder radius="0.012" length="0.0470186468" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.000453 -0.006001 -0.022726" rpy="0 2.8827244 -1.4954518" />
      <geometry>
        <cylinder radius="0.012" length="0.0470186468" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__mmhand_thumb_1_thumb_abduction_adduction_link_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.002847 0.0035015 -0.0072535" rpy="0 2.5850359 0.888130441" />
      <geometry>
        <cylinder radius="0.009" length="0.0170855698" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.002847 0.0035015 -0.0072535" rpy="0 2.5850359 0.888130441" />
      <geometry>
        <cylinder radius="0.009" length="0.0170855698" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__mmhand_thumb_1_finger_7_proximal_phalanx_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.0095495 -0.003721 -0.0166675" rpy="0 2.59028935 -0.371555638" />
      <geometry>
        <cylinder radius="0.009" length="0.0391328173" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.0095495 -0.003721 -0.0166675" rpy="0 2.59028935 -0.371555638" />
      <geometry>
        <cylinder radius="0.009" length="0.0391328173" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__mmhand_thumb_1_finger_7_distal_phalanx_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.0052745 -0.0032805 -0.0132765" rpy="0 2.70399218 -0.55640643" />
      <geometry>
        <cylinder radius="0.008" length="0.0293153532" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.0052745 -0.0032805 -0.0132765" rpy="0 2.70399218 -0.55640643" />
      <geometry>
        <cylinder radius="0.008" length="0.0293153532" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__mmhand_thumb_1_finger_7_fingertip_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.0061832845 -0.0002953005 -0.0111986915" rpy="0 2.63662311 -0.0477216111" />
      <geometry>
        <cylinder radius="0.007" length="0.0255914752" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.0061832845 -0.0002953005 -0.0111986915" rpy="0 2.63662311 -0.0477216111" />
      <geometry>
        <cylinder radius="0.007" length="0.0255914752" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__finger_1_proximal_phalanx_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.018037 0.007583 -3e-05" rpy="0 1.57232958 0.397979516" />
      <geometry>
        <cylinder radius="0.009" length="0.0391323988" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.018037 0.007583 -3e-05" rpy="0 1.57232958 0.397979516" />
      <geometry>
        <cylinder radius="0.009" length="0.0391323988" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__finger_1_distal_phalanx_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.0141845 0.0036935 -2.5e-06" rpy="0 1.57096689 0.2547332" />
      <geometry>
        <cylinder radius="0.008" length="0.0293149783" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.0141845 0.0036935 -2.5e-06" rpy="0 1.57096689 0.2547332" />
      <geometry>
        <cylinder radius="0.008" length="0.0293149783" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__finger_1_fingertip_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.0115007295 0.005212182 -0.0021839655" rpy="0 1.74206585 0.425515567" />
      <geometry>
        <cylinder radius="0.007" length="0.0256283691" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.0115007295 0.005212182 -0.0021839655" rpy="0 1.74206585 0.425515567" />
      <geometry>
        <cylinder radius="0.007" length="0.0256283691" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__finger_2_proximal_phalanx_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.0168065 0.0100195 -3e-05" rpy="0 1.57232956 0.537597199" />
      <geometry>
        <cylinder radius="0.009" length="0.039133092" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.0168065 0.0100195 -3e-05" rpy="0 1.57232956 0.537597199" />
      <geometry>
        <cylinder radius="0.009" length="0.039133092" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__finger_2_distal_phalanx_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.0135325 0.0056315 -2.5e-06" rpy="0 1.57096689 0.394347661" />
      <geometry>
        <cylinder radius="0.008" length="0.0293150033" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.0135325 0.0056315 -2.5e-06" rpy="0 1.57096689 0.394347661" />
      <geometry>
        <cylinder radius="0.008" length="0.0293150033" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__finger_2_fingertip_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.0106715735 0.0067528425 -0.0021558525" rpy="0 1.73987737 0.564180006" />
      <geometry>
        <cylinder radius="0.007" length="0.0256227292" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.0106715735 0.0067528425 -0.0021558525" rpy="0 1.73987737 0.564180006" />
      <geometry>
        <cylinder radius="0.007" length="0.0256227292" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__finger_3_proximal_phalanx_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.015869 0.011446 -3e-05" rpy="0 1.57232958 0.624865852" />
      <geometry>
        <cylinder radius="0.009" length="0.0391324406" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.015869 0.011446 -3e-05" rpy="0 1.57232958 0.624865852" />
      <geometry>
        <cylinder radius="0.009" length="0.0391324406" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__finger_3_distal_phalanx_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.01299 0.0067895 -2.5e-06" rpy="0 1.57096689 0.481619705" />
      <geometry>
        <cylinder radius="0.008" length="0.0293146664" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.01299 0.0067895 -2.5e-06" rpy="0 1.57096689 0.481619705" />
      <geometry>
        <cylinder radius="0.008" length="0.0293146664" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__finger_3_fingertip_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.0100532105 0.0076629805 -0.0021680955" rpy="0 1.74066002 0.651290138" />
      <geometry>
        <cylinder radius="0.007" length="0.0256506491" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.0100532105 0.0076629805 -0.0021680955" rpy="0 1.74066002 0.651290138" />
      <geometry>
        <cylinder radius="0.007" length="0.0256506491" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__finger_4_proximal_phalanx_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.015869 0.011446 -3e-05" rpy="0 1.57232958 0.624865852" />
      <geometry>
        <cylinder radius="0.009" length="0.0391324406" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.015869 0.011446 -3e-05" rpy="0 1.57232958 0.624865852" />
      <geometry>
        <cylinder radius="0.009" length="0.0391324406" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__finger_4_distal_phalanx_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.01299 0.0067895 -2.5e-06" rpy="0 1.57096689 0.481619705" />
      <geometry>
        <cylinder radius="0.008" length="0.0293146664" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.01299 0.0067895 -2.5e-06" rpy="0 1.57096689 0.481619705" />
      <geometry>
        <cylinder radius="0.008" length="0.0293146664" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__finger_4_fingertip_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0.0100529535 0.0076628635 -0.002168261" rpy="0 1.74067636 0.651295102" />
      <geometry>
        <cylinder radius="0.007" length="0.0256501623" />
      </geometry>
      <material name="hand" />
    </visual>
    <collision>
      <origin xyz="0.0100529535 0.0076628635 -0.002168261" rpy="0 1.74067636 0.651295102" />
      <geometry>
        <cylinder radius="0.007" length="0.0256501623" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__1-tip_Link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.0075" />
      </geometry>
      <material name="tip" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.0075" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__2-tip_Link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.0075" />
      </geometry>
      <material name="tip" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.0075" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__3-tip_Link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.0075" />
      </geometry>
      <material name="tip" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.0075" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__4-tip_Link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.0075" />
      </geometry>
      <material name="tip" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.0075" />
      </geometry>
    </collision>
  </link>
  <link name="capture_hand__5-tip_Link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.012" />
      <inertia ixx="1e-05" iyy="1e-05" izz="1e-05" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.0075" />
      </geometry>
      <material name="tip" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.0075" />
      </geometry>
    </collision>
  </link>
  <joint name="world_to_base_link" type="fixed">
    <parent link="world" />
    <child link="base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <joint name="joint1" type="revolute">
    <parent link="base_link" />
    <child link="link1" />
    <origin xyz="0 0 0.138" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-2.70526" upper="2.70526" effort="100" velocity="5" />
  </joint>
  <joint name="joint2" type="revolute">
    <parent link="link1" />
    <child link="link2" />
    <origin xyz="0 0 0" rpy="1.5707963  3.1415926 0" />
    <axis xyz="0 0 1" />
    <limit lower="-1.74" upper="1.74" effort="100" velocity="5" />
  </joint>
  <joint name="joint3" type="revolute">
    <parent link="link2" />
    <child link="link3" />
    <origin xyz="0 -0.31 0" rpy="-1.5707963  0 3.1415926926" />
    <axis xyz="0 0 1" />
    <limit lower="-2.75" upper="2.75" effort="100" velocity="5" />
  </joint>
  <joint name="joint4" type="revolute">
    <parent link="link3" />
    <child link="link4" />
    <origin xyz="0 0 0" rpy="-1.5707963  0 3.1415926926" />
    <axis xyz="0 0 1" />
    <limit lower="-1.01" upper="2.14" effort="100" velocity="5" />
  </joint>
  <joint name="joint5" type="revolute">
    <parent link="link4" />
    <child link="link5" />
    <origin xyz="0 -0.27001 0" rpy="1.5707963  -1.5707963  0" />
    <axis xyz="0 0 1" />
    <limit lower="-2.75" upper="2.75" effort="100" velocity="5" />
  </joint>
  <joint name="joint6" type="revolute">
    <parent link="link5" />
    <child link="link6" />
    <origin xyz="0 0 0" rpy="1.5707963  -1.5707963  0" />
    <axis xyz="0 0 1" />
    <limit lower="-0.73" upper="0.95" effort="100" velocity="5" />
  </joint>
  <joint name="joint7" type="revolute">
    <parent link="link6" />
    <child link="link7" />
    <origin xyz="0 -0.0235 0" rpy="1.5707963 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-1.5707963" upper="1.5707963" effort="100" velocity="5" />
  </joint>
  <joint name="gripper_flange_joint" type="fixed">
    <parent link="link7" />
    <child link="gripper_flange" />
    <origin xyz="0.031 0 -0.0235" rpy="-1.5708 0 -1.5708" />
  </joint>
  <joint name="Little_MCP_AA" type="revolute">
    <parent link="capture_hand__palm_1_finger_base_4" />
    <child link="capture_hand__palm_1_abduction_adduction_link_4" />
    <origin xyz="0.098962 -0.040332 -0.023497" rpy="0.0 -0.0 0.0" />
    <axis xyz="-0.0 -0.0 -1.0" />
    <limit lower="0.0" upper="0.942478" effort="100" velocity="100" />
  </joint>
  <joint name="Little_MCP_FE" type="revolute">
    <parent link="capture_hand__palm_1_abduction_adduction_link_4" />
    <child link="capture_hand__finger_4_proximal_phalanx_1" />
    <origin xyz="0.010207 0.007601 -0.0114" rpy="0.0 -0.0 0.0" />
    <axis xyz="-0.587785 0.809017 0.0" />
    <limit lower="-0.261799" upper="1.570796" effort="100" velocity="100" />
  </joint>
  <joint name="finger_4_distal_phalanx_1_PIP_Joint" type="revolute">
    <parent link="capture_hand__finger_4_proximal_phalanx_1" />
    <child link="capture_hand__finger_4_distal_phalanx_1" />
    <origin xyz="0.031738 0.022892 -6e-05" rpy="0.0 -0.0 0.0" />
    <axis xyz="-0.587785 0.809017 0.0" />
    <limit lower="-0.15708" upper="1.553343" effort="100" velocity="100" />
  </joint>
  <joint name="finger_4_fingertip_1_DIP_Joint" type="revolute">
    <parent link="capture_hand__finger_4_distal_phalanx_1" />
    <child link="capture_hand__finger_4_fingertip_1" />
    <origin xyz="0.02598 0.013579 -5e-06" rpy="0.0 -0.0 0.0" />
    <axis xyz="-0.587785 0.809017 -0.0" />
    <limit lower="-0.226893" upper="1.762783" effort="100" velocity="100" />
  </joint>
  <joint name="Ring_MCP_AA" type="revolute">
    <parent link="capture_hand__palm_1_finger_base_3" />
    <child link="capture_hand__palm_1_abduction_adduction_link_3" />
    <origin xyz="0.098962 -0.040332 -0.023497" rpy="0.0 -0.0 0.0" />
    <axis xyz="-0.0 -0.0 -1.0" />
    <limit lower="0.0" upper="1.064651" effort="100" velocity="100" />
  </joint>
  <joint name="Ring_MCP_FE" type="revolute">
    <parent link="capture_hand__palm_1_abduction_adduction_link_3" />
    <child link="capture_hand__finger_3_proximal_phalanx_1" />
    <origin xyz="0.010207 0.007601 -0.0114" rpy="0.0 -0.0 0.0" />
    <axis xyz="-0.587785 0.809017 0.0" />
    <limit lower="-0.261799" upper="1.570796" effort="100" velocity="100" />
  </joint>
  <joint name="finger_3_distal_phalanx_1_PIP_Joint" type="revolute">
    <parent link="capture_hand__finger_3_proximal_phalanx_1" />
    <child link="capture_hand__finger_3_distal_phalanx_1" />
    <origin xyz="0.031738 0.022892 -6e-05" rpy="0.0 -0.0 0.0" />
    <axis xyz="-0.587785 0.809017 0.0" />
    <limit lower="-0.15708" upper="1.553343" effort="100" velocity="100" />
  </joint>
  <joint name="finger_3_fingertip_1_DIP_Joint" type="revolute">
    <parent link="capture_hand__finger_3_distal_phalanx_1" />
    <child link="capture_hand__finger_3_fingertip_1" />
    <origin xyz="0.02598 0.013579 -5e-06" rpy="0.0 -0.0 0.0" />
    <axis xyz="-0.587785 0.809017 -0.0" />
    <limit lower="-0.226893" upper="1.762783" effort="100" velocity="100" />
  </joint>
  <joint name="Middle_MCP_AA" type="revolute">
    <parent link="capture_hand__palm_1_finger_base_2" />
    <child link="capture_hand__palm_1_abduction_adduction_link_2" />
    <origin xyz="0.098962 -0.040332 -0.023497" rpy="0.0 -0.0 0.0" />
    <axis xyz="-0.0 0.0 -1.0" />
    <limit lower="0.0" upper="1.029744" effort="100" velocity="100" />
  </joint>
  <joint name="Middle_MCP_FE" type="revolute">
    <parent link="capture_hand__palm_1_abduction_adduction_link_2" />
    <child link="capture_hand__finger_2_proximal_phalanx_1" />
    <origin xyz="0.01083 0.006683 -0.0114" rpy="0.0 -0.0 0.0" />
    <axis xyz="-0.515038 0.857167 -0.0" />
    <limit lower="-0.244346" upper="1.570796" effort="100" velocity="100" />
  </joint>
  <joint name="finger_2_distal_phalanx_1_PIP_Joint" type="revolute">
    <parent link="capture_hand__finger_2_proximal_phalanx_1" />
    <child link="capture_hand__finger_2_distal_phalanx_1" />
    <origin xyz="0.033613 0.020039 -6e-05" rpy="0.0 -0.0 0.0" />
    <axis xyz="-0.515038 0.857167 -0.0" />
    <limit lower="-0.15708" upper="1.553343" effort="100" velocity="100" />
  </joint>
  <joint name="finger_2_fingertip_1_DIP_Joint" type="revolute">
    <parent link="capture_hand__finger_2_distal_phalanx_1" />
    <child link="capture_hand__finger_2_fingertip_1" />
    <origin xyz="0.027065 0.011263 -5e-06" rpy="0.0 -0.0 0.0" />
    <axis xyz="-0.515038 0.857167 -0.0" />
    <limit lower="-0.226893" upper="1.762783" effort="100" velocity="100" />
  </joint>
  <joint name="Index_MCP_AA" type="revolute">
    <parent link="capture_hand__palm_1_finger_base_1" />
    <child link="capture_hand__palm_1_abduction_adduction_link_1" />
    <origin xyz="0.098962 -0.040332 -0.023497" rpy="0.0 -0.0 0.0" />
    <axis xyz="-0.0 0.0 -1.0" />
    <limit lower="0.0" upper="1.012291" effort="100" velocity="100" />
  </joint>
  <joint name="Index_MCP_FE" type="revolute">
    <parent link="capture_hand__palm_1_abduction_adduction_link_1" />
    <child link="capture_hand__finger_1_proximal_phalanx_1" />
    <origin xyz="0.011655 0.00511 -0.0114" rpy="0.0 -0.0 0.0" />
    <axis xyz="-0.390731 0.920505 -0.0" />
    <limit lower="-0.244346" upper="1.570796" effort="100" velocity="100" />
  </joint>
  <joint name="finger_1_distal_phalanx_1_PIP_Joint" type="revolute">
    <parent link="capture_hand__finger_1_proximal_phalanx_1" />
    <child link="capture_hand__finger_1_distal_phalanx_1" />
    <origin xyz="0.036074 0.015166 -6e-05" rpy="0.0 -0.0 0.0" />
    <axis xyz="-0.390731 0.920505 -0.0" />
    <limit lower="-0.15708" upper="1.553343" effort="100" velocity="100" />
  </joint>
  <joint name="finger_1_fingertip_1_DIP_Joint" type="revolute">
    <parent link="capture_hand__finger_1_distal_phalanx_1" />
    <child link="capture_hand__finger_1_fingertip_1" />
    <origin xyz="0.028369 0.007387 -5e-06" rpy="0.0 -0.0 0.0" />
    <axis xyz="-0.390731 0.920505 -0.0" />
    <limit lower="-0.226893" upper="1.762783" effort="100" velocity="100" />
  </joint>
  <joint name="Thumb_MCP_AA" type="revolute">
    <parent link="capture_hand__mmhand_thumb_1_thumb_base_1" />
    <child link="capture_hand__mmhand_thumb_1_thumb_abduction_adduction_link_1" />
    <origin xyz="0.000906 -0.012002 -0.045452" rpy="0.0 -0.0 0.0" />
    <axis xyz="-0.070801 0.928071 -0.365612" />
    <limit lower="0.0" upper="0.994838" effort="100" velocity="100" />
  </joint>
  <joint name="Thumb_MCP_FE" type="revolute">
    <parent link="capture_hand__mmhand_thumb_1_thumb_abduction_adduction_link_1" />
    <child link="capture_hand__mmhand_thumb_1_finger_7_proximal_phalanx_1" />
    <origin xyz="0.005694 0.007003 -0.014507" rpy="0.0 -0.0 0.0" />
    <axis xyz="0.862725 0.240955 0.444574" />
    <limit lower="-0.331613" upper="1.570796" effort="100" velocity="100" />
  </joint>
  <joint name="mmhand_thumb_1_finger_7_distal_phalanx_1_PIP_Joint" type="revolute">
    <parent link="capture_hand__mmhand_thumb_1_finger_7_proximal_phalanx_1" />
    <child link="capture_hand__mmhand_thumb_1_finger_7_distal_phalanx_1" />
    <origin xyz="0.019099 -0.007442 -0.033335" rpy="0.0 -0.0 0.0" />
    <axis xyz="0.862725 0.240955 0.444574" />
    <limit lower="-0.15708" upper="1.553343" effort="100" velocity="100" />
  </joint>
  <joint name="mmhand_thumb_1_finger_7_fingertip_1_DIP_Joint" type="revolute">
    <parent link="capture_hand__mmhand_thumb_1_finger_7_distal_phalanx_1" />
    <child link="capture_hand__mmhand_thumb_1_finger_7_fingertip_1" />
    <origin xyz="0.010549 -0.006561 -0.026553" rpy="0.0 -0.0 0.0" />
    <axis xyz="0.862725 0.240955 0.444574" />
    <limit lower="-0.226893" upper="1.762783" effort="100" velocity="100" />
  </joint>
  <joint name="Thumb_CMC" type="revolute">
    <parent link="capture_hand__palm_1" />
    <child link="capture_hand__mmhand_thumb_1_thumb_base_1" />
    <origin xyz="-0.052098 -0.000861 0.0088" rpy="0.0 -0.0 0.0" />
    <axis xyz="0.0 0.0 -1.0" />
    <limit lower="0.0" upper="1.343904" effort="100" velocity="100" />
  </joint>
  <joint name="capture_hand__palm_1_fixed_joint" type="fixed">
    <parent link="capture_hand__base_link" />
    <child link="capture_hand__palm_1" />
    <origin xyz="0.099 -0.040324 -0.033543" rpy="0.0 -0.0 0.0" />
  </joint>
  <joint name="capture_hand__palm_1_finger_base_1_fixed_joint" type="fixed">
    <parent link="capture_hand__palm_1" />
    <child link="capture_hand__palm_1_finger_base_1" />
    <origin xyz="-0.1039 0.040332 0.023697" rpy="0.0 -0.0 0.0" />
  </joint>
  <joint name="capture_hand__palm_1_finger_base_2_fixed_joint" type="fixed">
    <parent link="capture_hand__palm_1" />
    <child link="capture_hand__palm_1_finger_base_2" />
    <origin xyz="-0.1036 0.064332 0.023697" rpy="0.0 -0.0 0.0" />
  </joint>
  <joint name="capture_hand__palm_1_finger_base_3_fixed_joint" type="fixed">
    <parent link="capture_hand__palm_1" />
    <child link="capture_hand__palm_1_finger_base_3" />
    <origin xyz="-0.1039 0.088332 0.023697" rpy="0.0 -0.0 0.0" />
  </joint>
  <joint name="capture_hand__palm_1_finger_base_4_fixed_joint" type="fixed">
    <parent link="capture_hand__palm_1" />
    <child link="capture_hand__palm_1_finger_base_4" />
    <origin xyz="-0.119644 0.112222 0.023665" rpy="0.0 -0.0 0.0" />
  </joint>
  <joint name="capture_hand__1-tip" type="fixed">
    <parent link="capture_hand__finger_1_fingertip_1" />
    <child link="capture_hand__1-tip_Link" />
    <origin xyz="0.023001459 0.010424364 -0.004367931" rpy="0 0 0" />
  </joint>
  <joint name="capture_hand__2-tip" type="fixed">
    <parent link="capture_hand__finger_2_fingertip_1" />
    <child link="capture_hand__2-tip_Link" />
    <origin xyz="0.021343147 0.013505685 -0.004311705" rpy="0 0 0" />
  </joint>
  <joint name="capture_hand__3-tip" type="fixed">
    <parent link="capture_hand__finger_3_fingertip_1" />
    <child link="capture_hand__3-tip_Link" />
    <origin xyz="0.020106421 0.015325961 -0.004336191" rpy="0 0 0" />
  </joint>
  <joint name="capture_hand__4-tip" type="fixed">
    <parent link="capture_hand__finger_4_fingertip_1" />
    <child link="capture_hand__4-tip_Link" />
    <origin xyz="0.020105907 0.015325727 -0.004336522" rpy="0 0 0" />
  </joint>
  <joint name="capture_hand__5-tip" type="fixed">
    <parent link="capture_hand__mmhand_thumb_1_finger_7_fingertip_1" />
    <child link="capture_hand__5-tip_Link" />
    <origin xyz="0.012366569 -0.000590601 -0.022397383" rpy="0 0 0" />
  </joint>
  <joint name="nero_mmhand_mount" type="fixed">
    <parent link="gripper_flange" />
    <child link="capture_hand__base_link" />
    <origin xyz="0 0 0.00600000005" rpy="0 -1.57079621 -3.14159265" />
  </joint>
</robot>